html,body {
    margin: 0;
    height: 100%;
}

.wrap {
    width: 100%;
}

.section {
    width: 100%;
    height: 100%;
    background: #000;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.center-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.section:nth-child(1) {
    background-color: bisque;

}

.section .title {
    font-size: 25px;
    font-family: Arial;
    font-weight: bold;
    padding: 10px 10px;
    background-color: #ccc;
}

.textarea {
    text-align: center;
    width: 80vw;
}

.section p {
    text-align: justify;
}

.section:nth-child(2) {
    background-color: aquamarine;
}

.section:nth-child(3) {
    background-color: cornsilk;
}

.section:nth-child(4) {
    background-color: teal;
}

.section:nth-child(5) {
    background-color: oldlace;
}

.section:nth-child(6) {
    background-color: lightcoral;
}

.section:nth-child(7) {
    background-color: royalblue;
}